#root {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  width: 100vw;
}

.app-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 2rem 6rem;
  margin-top: 4rem;
}

.dark-mode {
  background: #121212;
  color: rgb(243, 232, 232);
}

.light-mode {
  background: rgb(255, 255, 255);
  color: #121212;
}
